body {
  background-color: rgba(229, 255, 0, 0.462);
  padding-right: 33%;
  padding-left: 12%;
  padding-top: 3%;
}

h1 {
  color: rgb(255, 0, 0);
}

h2 {
  font-style: oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(74, 7, 138);
}

table,
th,
td {
  border: 4px solid rgb(255, 72, 0);
  border-collapse: collapse;
}

.center {
  margin: auto;
  width: 50%;
  border: 8px solid rgb(241, 16, 193);
  padding: 10px;
}